@import "variables";
@import "templates";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @extend %font_set;
  color: $text_global_color;
}

a {
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: $red;
  }
}

img {
  width: 100%;
}

ul {
  list-style: none;
}


/*---- Header ----*/

.navigation-main {
  @extend %flex_template;
  padding: 23px 111px;

  ul {
    display: flex;
  }
}

.logo {
  width: 271px;
}

.navigation-items__list {
  li {
    margin-right: 32px;

    a {
      font-size: 21px;
    }

    &:last-child {
      text-transform: uppercase;
    }
  }
}

.navigation-menu_main {
  display: flex;
}

.navigation-icons {
  ul {
    li {
      position: relative;
      width: 24px;
      margin-left: 24px;
      cursor: pointer;
    }
  }
}

.items-count {
  position: absolute;
  top: -7px;
  left: 15px;
  border-radius: 50%;
  background-color: $red;
  width: 16px;
  height: 16px;
  text-align: center;
  color: $white;
  font-size: 9px;
  font-weight: 400;
  line-height: 16px;
}


/*---- Home Page ----*/

.home-main {
  position: relative;
  height: calc(100vh - 82px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgb(19, 24, 36);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(19, 24, 36, 1) 0%, rgba(19, 24, 36, 1) 25%, rgba(0, 0, 0, 0) 50%, rgba(19, 24, 36, 1) 75%, rgba(19, 24, 36, 1) 100%);

  }
}


