$red: #cc0000;
$text_global_color:#202020;
$white: #ffffff;
$global_font_family: 'Mulish', sans-serif;
$style_blue: #131824;
$home_bgr_grad: linear-gradient(90deg, rgba(19, 24, 36, 1) 0%, rgba(19, 24, 36, 1) 25%, rgba(0, 0, 0, 0) 50%, rgba(19, 24, 36, 1) 75%, rgba(19, 24, 36, 1) 100%);