/*Store Page*/

@import "../templates";


.storeItem{
  display: block;
  text-align: center;
  padding: 30px;
  border: solid 1px #ededed;
  margin: 10px;
  &:hover{
    background-color: #ededed;
  }
  &-image{
    width: 100%;
    height: 283px;
    @extend %background
  }
  &-title{
    margin: 20px 0;
  }
  &-price{
    margin-bottom: 25px;
    font-size: 32px;
  }
}

.search-main{
  width: 80%;
  margin: 20px auto;
  display: none;
  input{
    width: 100%;
    border: none;
    background: transparent;
    padding: 8px 0;
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    &:focus{
      outline: none;
    }
  }
}

.search-main-open{
  display: block;
}

.filters-wrapper{
  padding: 0 30px;
}