/*Store Page*/

@import "../templates";


.storeItem{
  display: block;
  text-align: center;
  padding: 30px;
  border: solid 1px #ededed;
  &:hover{
    background-color: #ededed;
  }
  &-image{
    width: 100%;
    height: 283px;
    @extend %background
  }
  &-title{
    margin: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &-price{
    margin-bottom: 25px;
    font-size: 32px;
  }
}

.search-main{
  width: 80%;
  margin: 20px auto;
  display: none;
  input{
    width: 100%;
    border: none;
    background: transparent;
    padding: 8px 0;
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    &:focus{
      outline: none;
    }
  }
}

.search-main-open{
  display: block;
}

.filters-wrapper{
  padding: 0 30px;
  .search-main{
    display: block;
    margin: 0;
    width: 100%;
  }
}

.site-search__wrapper{
  max-height: 0;
  overflow: hidden;
  transition: .5s linear;
  &.site-search__wrapper-open{
    max-height: 200px;
  }
  form{
    display: flex;
    align-items: baseline;
    input{
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ededed;
      padding: 10px 20px;
      color: $global_font_family;
      margin-bottom: 20px;
      &:focus{
        outline: none;
      }
    }
    button{
      background: $red;
      border: none;
      border-radius: 4px;
      color: $white;
      padding: 5px 20px;
      margin-left: 30px;
    }
  }
}